
.trailers_container{

  
}

.list{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.card{

    border: 1px solid var(  --light-grey-color);
border-radius: 20px;
display:flex;
gap:24px;
width:888px;
height:345px;
margin: 0 auto;
padding-top:24px;
padding-left: 24px;
}
.img_cont{

}
.img{


    
    height:320px;
    border-radius: 10px;
    
}
.cont_price_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.description{
    width:525px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    color: var( --grey-blue-color);

font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 36px;

}


.name_price{
    color: rgb(16, 24, 40);

font-size: 24px;
font-weight: 600;
line-height: 32px;
}
.icon_star{
    fill:var(  --yellow-color)
}
.cont_svg_rat{
    display:flex;
    gap:4px;
    align-items: center;
}
.s.rating_location{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.icon_location{
    fill: var( --grey-color);
}
.cont_location_rating{
align-items: center;
display: flex;
gap:16px;
margin-bottom: 24px;
}

.features {
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    gap: 8px; 
    margin-bottom: 24px;
}

.feature {
    width: calc(33.3% - 8px); 
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 100px;
    background-color: var(--white-grey-color);
    box-sizing: border-box; 
}

.info{


}
.feat_title{
    font-size: 16px;
font-weight: 500;
line-height: 24px;
}
.trailer_btn{
    text-decoration: none;
    padding: 16px 60px 16px 60px;
    border:none;
    cursor:pointer;
    font-size: 16px;
font-weight: 500;
line-height: 24px;
color:var(--white-color);
border-radius: 200px;
background-color: var(  --red-orange-color);
}
.load_more_btn{
    margin-top: 40px;
    border: 1px solid var( --light-grey-color);
    padding: 16px 32px 16px 32px;
    cursor:pointer;
    background-color: transparent;
    border-radius: 200px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
   
}
.btn_heart{
    border:none;
    cursor:pointer;
    background-color: transparent;;
}
.load_more_btn:hover,
.load_more_btn:active{
    border-color:var(--)
}
.cont_btn{
    text-align: center;
}

.heart {
 margin-right: 24px;
    transition: stroke 0.3s ease, fill 0.3s ease;
  }
  
  .heart.clicked {
    stroke: red; 
  }
  .cont_heart_price{
    display:flex;
    gap:13px;
    align-items: center;
  }
  .arrow{
    margin-top: 27px;
    width: 1312px;
    border: 1px solid var( --light-grey-color);
    margin-top: 27px;
  }